# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
*.map

# OS cruft
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

# Optional: test artifacts
coverage/
test_output/

# stats.html
stats.html
